$tablet-breakpoint: 768px;

.App {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: $tablet-breakpoint) {
  .smp-main-content {
    &__center {
    }
    &__title {
      width: 100% !important;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 1%;
      margin-top: 2.5%;
    }
    &__nav {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 1%;
    }
    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 2.5%;
      background-color: #f0f0f0;
    }
    &__location {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 1%;
    }
    &__box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 1%;
    }
  }
}
.smp-main-content {
  &__center {
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1%;
    margin-top: 2.5%;
    img {
      width: 250px;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1%;
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2.5%;
    background-color: #f0f0f0;
  }
  &__location {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1%;
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1%;
  }
}
