.App {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.smp-main-content {
  &__center {
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1%;
    margin-top: 2.5%;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1%;
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2.5%;
    background-color: #f0f0f0;
  }
  &__location{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1%;
  }
  &__box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1%;
  }
}
