$tablet-breakpoint: 768px;
$secondary-desktop-breakpoint: 1250px;

.App {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: $secondary-desktop-breakpoint) {
  .smp-main-content {
    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 2.5%;
      img {
        width: 625px;
      }
    }
    &__highlights {
      display: flex;
      flex-direction: column !important;
      align-items: center;
      justify-content: center;
      gap: 5%;
      margin-bottom: 3rem;
    }
    &__box-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__highlights-title {
      &__content {
        width: 65%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          text-align: center;
        }
        h2 {
          text-align: center;
        }
      }
    }
    &__highlights {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5%;
      margin-bottom: 3rem;
    }
  }
  .smp-box__content {
    align-items: center;
    justify-content: center;
    width: 65%;
    p {
      text-align: center;
    }
  }
}

@media only screen and (max-width: $tablet-breakpoint) {
  .smp-box__content {
    align-items: center;
    justify-content: center;
    width: 75%;
    p {
      text-align: center;
    }
  }
  .smp-main-content {
    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 2.5%;
      width: min-content;
      img {
        display: none;
      }
    }
    &__highlights {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5%;
      margin-bottom: 3rem;
    }
    &__cv {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 3rem;
      &__button {
        button {
          color: white;
          background-color: black;
          border-radius: 1rem;
          height: 50px;
          width: 400px;
          text-align: center;
        }
      }
    }
    &__center {
    }
    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 1%;
      margin-top: 2.5%;
    }
    &__nav {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 1%;
    }
    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 2.5%;
      width: auto;
      height: auto;
    }
    &__location {
      display: none !important;
    }
    &__box-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__box {
      flex: 1;
    }
    &__highlights-title {
      &__content {
        width: 40%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          text-align: center;
        }
        h2 {
          text-align: center;
        }
      }
    }
    &__highlights {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5%;
      margin-bottom: 3rem;
    }
    &__highlight {
      display: flex;
      flex-direction: column;
      width: fit-content;
      position: relative;
      &__title {
        text-align: center;
      }
      &__img:hover .smp-main-content__highlight__img__overlay {
        opacity: 0.75;
      }
      &__img {
        width: 400px;
        height: 400px;
        overflow: hidden;
        border-radius: 50%;
        &__overlay {
          position: absolute;
          border-radius: 50%;
          top: 0;
          left: 0;
          height: 400px;
          width: 400px;
          opacity: 0;
          transition: 0.5s ease;
          background-color: #ffffff;
          display: flex;
          align-items: center;
          text-align: center;
          flex-direction: column;
          justify-content: center;
          &__head {
            h3 {
              color: black;
              font-size: 20px;
            }
          }
          &__body {
            color: black;
            font-size: 20px;
          }
        }
      }
    }
  }
}
.smp-main-content {
  &__cv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    &__button {
      button {
        color: white;
        background-color: black;
        border-radius: 1rem;
        height: 50px;
        width: 400px;
        text-align: center;
      }
    }
  }
  &__center {
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1%;
    margin-top: 2.5%;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1%;
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2.5%;
  }
  &__location {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1%;
  }
  &__box-container {
    display: flex;
  }
  &__box {
    flex: 1;
  }
  &__highlights-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    p {
      text-align: center;
    }
    h2 {
      text-align: center;
    }
  }
  &__highlights {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-bottom: 3rem;
  }
  &__highlight {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: relative;
    &__title {
      text-align: center;
    }
    &__img:hover .smp-main-content__highlight__img__overlay {
      opacity: 0.75;
    }
    &__img {
      width: 400px;
      height: 400px;
      overflow: hidden;
      border-radius: 50%;
      &__overlay {
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        height: 400px;
        width: 400px;
        opacity: 0;
        transition: 0.5s ease;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        &__head {
          h3 {
            color: black;
            font-size: 20px;
          }
        }
        &__body {
          color: black;
          font-size: 20px;
        }
      }
    }
  }
}

.smp-hr {
  border: 1px solid black;
  margin: 0 5rem 0 5rem;
}
